# This Holds the environment variables and must NEVER be committed to the code
*.env

# This is our hidden key file to decrypt the contents of our env values
*.key

# This will hold additional composer stuff for encryption, decryption and accessing our env stuff
vendor/

#Project pdfs we happend to add to avoid clutter
*.pdf

# This houses node modules. To get everything for this, run npm install once.
node_modules/