body
{
	/*background-image: url("../Assets/kv3o721sr2u51.jpg");*/
	background-image: url("../Assets/w5es9uw9yoq51.jpg");
	/*background-image: url("../Assets/rrbltiehz7b31.png");*/
}

.Fut
{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 20px 10px 10px;
	margin: 2px;
	width: 100%;
	background-color: #35296f;
	color: white;
	text-align: right;
	font-size: 15px; 
}
#TitleContainer
{
	display:         flex;
	flex-wrap:       wrap;
	justify-content: center;

}

#TitleContainer > h1
{
	color: white;
}
#ButtonContainer
{

	display:         flex;
	background-color: #1e173f;
	/*flex-wrap:       wrap;*/
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin: auto;
	padding: 5px;
	border-radius: 10px;

}

.fl
{
	border-radius: 10px 0px 10px 0px; 
	/*tr,tl,br,bl*/
}

.fr
{
	border-radius: 0px 10px 0px 10px;
}

#ButtonContainer > div > div> a
{
	font-size: 40px;
	text-decoration: none;
	color: #F1F1F1;
}


.ButBox > a
{
	text-decoration: none;
	color: #F1F1F1;
}

.ButBox
{
	background-color: #08083A;
}


.RegTag 
{
	font-size: 25px;
}

.LogTag
{
	font-size: 25px;
	text-align: right;
}

.LogCls
{
	/*padding-left:  0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;*/
	padding: 15px;
	/*margin: 30px 0px 0px 0px;*/
}

.RegCls
{
	padding: 15px;
}



